<!DOCTYPE html>

<html>
    <head>
        <title>EcoDashboard - DMarket Deals</title>
        <link rel="stylesheet" type="text/css" href="css/default.css">
        <link rel="stylesheet" type="text/css" href="css/dmarket_deals.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        
    </head>

    <body>
        <%- include('../partials/header.ejs', {avatar: avatar}) %>

        <!--
        <h1>USER ID: </h1> <h2><%= id %></h2>
        <h1>Username: </h1> <h2><%= username%></h2>
        -->
        <!--<h1>Avatar: </h1> <img src="<%= avatar %> "> -->
        <div class="wrapper">
            <div id="left-side">
                
                    <table id="table-deals" <% if (previous_data === undefined || previous_data === null ) { %> hidden <% } %> >
                        <tr class="first-row">
                            <th class="table-header first-header">Title</th>
                            <th class="table-header">DMPrice</th>
                            <th class="table-header">SMPrice</th>
                            <th class="table-header">Gain (value)</th>
                            <th class="table-header">Gain (%)</th>
                            <th class="table-header">Buy</th>  <!--TODO:// Fazer sistema de comprar pela tabela mesmo, com API keys etc...  (plano avançado)-->
                            <th class="table-header last-header">Transpose</th>  <!--TODO:// Checkbox para btn de "Levar para assign deals" ...  (plano avançado)-->
                        
                        </tr>
                        
                        <% if (previous_data !== null) { %>
                            <% for( let index = 0; index < 25; index++ ) { %>
                                <tr>
                                    <td class="table-entry first-entry left-align-entry" id="item-<%=index%>">AWP | Fever Dream (Minimal Wear)</td>
                                    <td class="table-entry">10$ (1000ARS$)</td>
                                    <td class="table-entry">15$ (1500ARS$)</td>
                                    <td class="table-entry">5$</td>
                                    <td class="table-entry">50% ↑</td>
                                    <td class="table-entry buy-entry"><a class="buy-entry-link" onclick="alert('Trying to buy (item-<%=index%>) ' + document.getElementById('item-<%=index%>').innerText)">Buy</a></td>  <!--TODO:// Fazer sistema de comprar pela tabela mesmo, com API keys etc...  (plano avançado)-->
                                    <td class="table-entry last-entry"><input type="checkbox"></td>  <!--TODO:// Checkbox para btn de "Levar para assign deals" ...  (plano avançado)-->
                                </tr>
                            <% } %>
                        <% } else { %>
                            <div id="no-data">
                                <h1>[No Data Available]</h1>
                            </div>
                        <% } %>
                        
                    </table>
                
            </div>
            <div id="right-side">
                <div id="top-right-side">
                    <div class="button-container">
                        <button class="remote-btn input btn btn-outline-primary" id="remote-update-dmarket">Update DMarket Data</button>
                        <button class="remote-btn input btn btn-outline-secondary" id="remote-item-nameit">Acquire INID</button>
                        <button class="remote-btn input btn btn-outline-secondary" id="remote-item-priceit">Price Items</button>
                        <button class="remote-btn input btn btn-outline-success" id="remote-retrieve-deals">Retrieve Best Deals</button>
                    </div>
                </div>
                <div id="bottom-right-side">
                    <div class="wrapper-v">
                        <div class="progress">
                            <!-- <label for="remote-progress" id="lblprogress">Progress:</label> -->
                            <!-- <progress id="remote-progress" value="0" max="100"></progress> -->
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="progress-bar-remote"></div>
                        </div>
                        <canvas id="proxy-health">

                        </canvas>
                    </div>
                    
                </div>
                
            </div>
        </div>

        <!-- SCRIPTS -->
        <script src="js/jquery-3.6.1.min.js" defer></script>
        <link rel="stylesheet" type="text/css" href="css/utils/form_popup.css">
        <script type="module" src="js/dmarket_deals.js" defer></script>

    </body>

    
</html>