<!DOCTYPE html>

<html>
    <head>
        
        <title>EcoDashboard - DMarket Deals</title>
        <link rel="stylesheet" type="text/css" href="css/default.css">
        <link rel="stylesheet" type="text/css" href="css/deals.css">
        <link rel="stylesheet" type="text/css" href="css/dmarket_deals.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/utils/notification.css">
        
    </head>

    <body>
        
        <%- include('../partials/header.ejs', {avatar: avatar}) %>

        <!--
        <h1>USER ID: </h1> <h2><%= id %></h2>
        <h1>Username: </h1> <h2><%= username%></h2>
        -->
        <!--<h1>Avatar: </h1> <img src="<%= avatar %> "> -->
        <div class="wrapper">
            <div id="left-side">
                
                    <table id="table-deals" <% if (offerbook === undefined || offerbook === null ) { %> hidden <% } %> >
                        <tr class="first-row">
                            <th class="table-header first-header title-entry">Title</th>
                            <th class="table-header dm-price-entry">DMPrice</th>
                            <th class="table-header sm-price-entry">SMPrice</th>
                            <th class="table-header gain-diff-entry">Gain (Val.) [INST | MID | ASK]</th>
                            <th class="table-header gain-percentage-entry">Gain (%) [INST | MID | ASK]</th>
                            <!-- INCORPORADO NO SELECT <th class="table-header buy-entry">Buy</th>  <! --TODO:// Fazer sistema de comprar pela tabela mesmo, com API keys etc...  (plano avançado)-->
                            <th class="table-header last-header transpose-entry">Select</th>  <!--TODO:// Checkbox para btn de "Levar para assign deals" ...  (plano avançado)-->
                        
                        </tr>
                        
                        <% if (offerbook !== null && offerbook !== undefined) { %>
                            
                            <% for( let o = 0; o < offerbook.offers.length; o++ ) { %>
                                <% 
                                function offer_diffs(dm_price, sm_price, histogram) {
                                    let inst_price_gap = Number(sm_price - dm_price).toFixed(2)
                                    let mid_price_gap = histogram.buy_offer_book.length>0 && histogram.sell_offer_book.length>0 ?
                                    (((Number(histogram.sell_offer_book[0][0]) + Number(histogram.buy_offer_book[0][0]))/2) - dm_price).toFixed(3): 2**31
                                    let ask_price_gap = Number(histogram.ask - dm_price).toFixed(2)
                                    return [inst_price_gap, mid_price_gap, ask_price_gap]
                                }
                                let offer = offerbook.offers[o]
                                let dm_price = Number(offer.dm_price.cValue || offer.dm_price.value)
                                let sm_price = Number(offer.sm_price.cValue || offer.sm_price.value)
                                let offer_diff = offer_diffs(dm_price, sm_price, offer.histogram)
                                let instant_price_gap = offer_diff[0]
                                let mid_price_gap = offer_diff[1]
                                let ask_price_gap = offer_diff[2]
                                let currency = String((offer.dm_price.cCurrency || offer.dm_price.currency))
                                currency = currency === "USD" ? "$" : (currency === "EUR" ? "€" : currency)
                                %>
                                <tr>
                                    <td class="table-entry first-entry left-align-entry title-entry"><a href="https://steamcommunity.com/market/listings/730/<%=offer.title%>" class="anchor-entry"><%=offer.title%><i class="fa-solid fa-arrow-up-right-from-square icon-link"></i></a></td>
                                    <td class="table-entry dm-price-entry"><%=dm_price%><%=currency%></td>
                                    <td class="table-entry sm-price-entry"><%=sm_price%><%=currency%></td>
                                    <td class="table-entry gain-diff-entry" ><%=instant_price_gap%><%=currency%> | <%=mid_price_gap%><%=currency%> | <%=ask_price_gap%><%=currency%></td>
                                    <td class="table-entry gain-percentage-entry"><%=Number((instant_price_gap/dm_price)*100).toFixed(2)%>% | <%=Number((mid_price_gap/dm_price)*100).toFixed(2)%>% | <%=Number((ask_price_gap/dm_price)*100).toFixed(2)%></td>
                                    <!-- INCORPORADO NO SELECT <td class="table-entry buy-entry"><a class="buy-entry-link" onclick="alert('Trying to buy (item-<%=offer.itemId%>) ' + document.getElementById('item-<%=offer.itemId%>').innerText)">Buy</a></td>  <! --TODO:// Fazer sistema de comprar pela tabela mesmo, com API keys etc...  (plano avançado)-->
                                    <td class="table-entry last-entry transpose-entry"><input type="checkbox" id="item-<%=offer.itemId%>"></td>  <!--TODO:// Checkbox para btn de "Levar para assign deals" ...  (plano avançado)-->
                                </tr>
                            <% } %>
                        <% } else { %>
                            <div id="no-data">
                                <h1>[No Data Available]</h1>
                            </div>
                        <% } %>
                        
                    </table>
                
            </div>
            <div id="right-side">
                <div id="top-right-side">
                    <div class="button-container">
                        <button class="remote-btn input btn btn-outline-primary" id="remote-update-dmarket">Update DMarket Data</button>
                        <button class="remote-btn input btn btn-outline-secondary" id="remote-item-nameit">Acquire INID</button>
                        <button class="remote-btn input btn btn-outline-secondary" id="remote-item-priceit">Price Items</button>
                        <button class="remote-btn input btn btn-outline-success" id="remote-retrieve-deals">Retrieve Best Deals</button>
                        <button class="remote-btn input btn btn-outline-dark" id="remote-move-dmarket">Move to Assign Deals Table</button>
                    </div>
                </div>
                <div id="bottom-right-side">
                    <div class="wrapper-v">
                        <div class="progress">
                            <!-- <label for="remote-progress" id="lblprogress">Progress:</label> -->
                            <!-- <progress id="remote-progress" value="0" max="100"></progress> -->
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="progress-bar-remote"></div>
                        </div>
                        <canvas id="proxy-health">

                        </canvas>
                    </div>
                    
                </div>
                
            </div>
        </div>

        <!-- SCRIPTS -->
        <script src="js/jquery-3.6.1.min.js" defer></script>
        <link rel="stylesheet" type="text/css" href="css/utils/form_popup.css">
        <script type="module" src="js/dmarket_deals.js" defer></script>
        
    </body>

    
</html>