<!DOCTYPE html>

<html>
    <head>
        
        <title>EcoDashboard - G2G Deals</title>
        <link rel="stylesheet" type="text/css" href="css/default.css">
        <link rel="stylesheet" type="text/css" href="css/deals.css">
        <link rel="stylesheet" type="text/css" href="css/g2g_deals.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/utils/notification.css">
        
    </head>

    <body>
        
        <%- include('../partials/header.ejs', {avatar: avatar}) %>

        <!--
        <h1>USER ID: </h1> <h2><%= id %></h2>
        <h1>Username: </h1> <h2><%= username%></h2>
        -->
        <!--<h1>Avatar: </h1> <img src="<%= avatar %> "> -->
        <div class="wrapper">
            <div id="left-side">
                
                    <table id="table-deals" <% if (previous_data === undefined || previous_data === null ) { %> hidden <% } %> >
                        <tr class="first-row">
                            <th class="table-header first-header title-entry">Game Title</th>
                            <th class="table-header g2g-price-entry">G2G Price</th>
                            <th class="table-header steam-price-entry">Steam Price</th>
                            <th class="table-header gain-diff-entry">Diff (Val.)</th>
                            <th class="table-header gain-percentage-entry">Diff (%)</th>
                            <th class="table-header offer-count-entry">Offer Count</th> 
                            <th class="table-header black-list-entry">Add to Black List</th> 
                            <th class="table-header last-header transpose-entry">Transpose</th>  <!--TODO:// Checkbox para btn de "Levar para assign deals" ...  (plano avançado)-->
                        
                        </tr>
                        
                        <% if (previous_data !== null) { %>
                            <% for( let index = 0; index < 25; index++ ) { %>
                                <tr>
                                    <td class="table-entry first-entry left-align-entry title-entry" id="item-<%=index%>">Among US</td>
                                    <td class="table-entry g2g-price-entry">0.3$ (70ARS$)</td>
                                    <td class="table-entry steam-price-entry" >30$ (7000ARS$)</td>
                                    <td class="table-entry gain-diff-entry">29.7$</td>
                                    <td class="table-entry gain-percentage-entry">9900% ↑</td>  <!--TODO:// Fazer sistema de comprar pela tabela mesmo, com API keys etc...  (plano avançado)-->
                                    <td class="table-entry offer-count-entry">30</td>
                                    <td class="table-entry black-list-entry center-align-entry"><a class="anchor-entry"><i class="fa-solid fa-circle-minus icon-link"></i></a></td>
                                    <td class="table-entry last-entry transpose-entry"><input type="checkbox"></td>  <!--TODO:// Checkbox para btn de "Levar para assign deals" ...  (plano avançado)-->
                                </tr>
                            <% } %>
                        <% } else { %>
                            <div id="no-data">
                                <h1>[No Data Available]</h1>
                            </div>
                        <% } %>
                        
                    </table>
                
            </div>
            <div id="right-side">
                <div id="top-right-side">
                    <div class="button-container">
                        <button class="remote-btn input btn btn-outline-secondary" id="remote-brand-scan">Scan New Games</button>
                        <button class="remote-btn input btn btn-outline-secondary" id="remote-branding">Find Game Brands</button>
                        <button class="remote-btn input btn btn-outline-primary" id="remote-pricing">Price G2G Games</button>
                        <button class="remote-btn input btn btn-outline-secondary" id="remote-steam-appid">Steam App Link</button>
                        <button class="remote-btn input btn btn-outline-primary" id="remote-steam-price">Steam Price</button>
                        <button class="remote-btn input btn btn-outline-success" id="remote-retrieve-deals">Retrieve Best Deals</button>
                    </div>
                </div>
                <div id="bottom-right-side">
                    <div class="wrapper-v">
                        <div class="progress">
                            <!-- <label for="remote-progress" id="lblprogress">Progress:</label> -->
                            <!-- <progress id="remote-progress" value="0" max="100"></progress> -->
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="progress-bar-remote"></div>
                        </div>
                        <canvas id="proxy-health">

                        </canvas>
                    </div>
                    
                </div>
                
            </div>
        </div>

        <!-- SCRIPTS -->
        <script src="js/jquery-3.6.1.min.js" defer></script>
        <link rel="stylesheet" type="text/css" href="css/utils/form_popup.css">
        <script type="module" src="js/g2g_deals.js" defer></script>
        <!-- <script type="module" src="js/dmarket_deals.js" defer></script> -->
        
    </body>

    
</html>